<!DOCTYPE html>
<html lang="en" class="">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<section class="hero">
<div class="hero-body">
  <div class="container">
    <figure class="image">
      <img src="./images/wip2.jpg">
    </figure>
  </div>
</div>
</section>
