<!DOCTYPE html>
<html lang="en" class="">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<section class="hero">
<div class="hero-body">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths is-offset-one-fifth">
        <figure class="image custom-title">
          <img src="./images/pariah2.png">
        </figure>
      </div>
    </div>
    <!--h1 class="title">
      a better guild
    </h1>
    <h2 class="subtitle">
    for a better world.
  </h2-->
  </div>
</div>
</section>
<div class=".container text-center">
  <div class="columns">
    <div class="column">
      <figure class="image">
        <img src="./images/ragnaros4.png">
      </figure>
    </div>
  </div>

  <!--div class="columns">
    <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div-->

<!-- % include partials/footer % -->
</body>
<% include partials/script %>
</html>
