html {
  background-color: #6a89cc;
}

body {
  padding: 50px;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #00B7FF;
}

.guild-title {
  font-size: 35px;
  font-weight: bolder;
}

.custom-title {
  height: 50%;
  width: 50%;
}
